:root {
  font-family: "Barlow Condensed", sans-serif;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 116, 1) 0%,
    rgba(59, 114, 188, 1) 71%,
    rgba(0, 212, 255, 1) 97%
  );
}

.todo-app {
  padding: 4rem;
}

.todo-title {
  margin: 0;
}

.delete-button {
  color: red;
  cursor: pointer;
}

.delete-button:hover {
  filter: brightness(0.8);
}
